$font-path: '.././assets/fonts/';

$header-height: 7rem;
$footer-height: 5.1rem;

$app-color: #A1A1A1;
$app-color-alt: #FFF;

$main-color: #F4F4F4;
$card-block-bg: #FAF8F8;
$app-easing: cubic-bezier(0.35, 0.01, 0.77, 0.34);
